.menu {
  float: left;
  width: 18vw;
  height: 100vh;
  border: 2px solid red;
}

a {
  display: block;
  text-decoration: none;
  text-align: center;  
  color: hsl(225, 80%, 8%);
  font-size: 1.55vw;
  font-weight: 100;
}